@import '../../General.scss';

.header{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  @extend .flex-row;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
  &-menu{
    @extend .flex-row;
    list-style-type: none;
    width: 40%;
    justify-content: space-between;

  }
}