@import '../../General.scss';

/* .footer {
  width: 100%;
  height: 150px;
  background-color: $footer-bg;
  left: 0;
} */

.footer{
  width: 100%;
  height: 150px;
  position: absolute;
  background-color: $footer-bg;
  left: 0;
  line-height: 100px;
  &-section-one{
    @extend .flex-row;
    color: #fff;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    &-logo{
      @extend .flex-row;
      font-size: 20px;
      &-red{
        color: $red-secundary;
        font-weight: bold
      }
    }
    &-menu{
      @extend .flex-row;
      list-style-type: none;
      width: 60%;
      justify-content: space-between;
  
    }
    &-icons{
      & span{
        margin: 0 7px 0 7px;
      }
    }
  }
  
  
}