@import '../../General.scss';

.card-container{
  width: 220px;
  height: 180px;
  position: relative;
  color: #fff;
  &-progress{
    width: 100%;
    position: absolute;
    bottom: 30px;
    & progress{
      width: inherit;
    }
    & p{
      font-size: 12px;
      font-weight: bold;
    }
  }
  &-description{
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
  }
}


